.footer {
  height: 2.5rem;
  width: 100%;
  background: rgb(125, 125, 125);
}

.footer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .content p {
  color: white;
  margin: 0.5rem;
  font-size: 1rem;
}
