.footer {
  height: 3rem;
  width: 100%;
  background: white;
}

.footer .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .content p {
  color: black;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
