.footer {
  background-color: #fffaff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  color: #1e1b18;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.footer__link:hover {
  color: #d8315b;
}
