#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  color: #fffaff;
  font-size: 4rem;
  font-weight: 500;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.hero__description {
  color: #fffaff;
  font-size: 3rem;
  font-weight: 500;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.hero__shortcut {
  background-color: #fffaff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: #1e1b18;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 3rem;
  margin: 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: transform 0.2s;
}

.hero__shortcut:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
  }

  .hero__description {
    font-size: 2.5rem;
  }

  .hero__shortcut {
    padding: 1rem 2.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .hero__title {
    font-size: 3rem;
  }

  .hero__description {
    font-size: 2rem;
  }

  .hero__shortcut {
    padding: 1rem 2rem;
  }
}
