.navbar {
  background-color: #fffaff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar__toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar__toggle button {
  padding: 1rem;
  background-color: transparent;
  border: none;
  color: #1e1b18;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2rem;
}

.navbar__link {
  color: #1e1b18;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  margin: 1rem;
  transition: 0.3s;
}

.navbar__link:hover,
.navbar__link.active {
  color: #d8315b;
}

@media only screen and (max-width: 768px) {
  .navbar__toggle svg {
    font-size: 2rem;
  }

  #open .navbar__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fffaff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
  }

  #open .navbar__link {
    border-top: 1px solid #ffebff;
    font-size: 1.5rem;
    text-align: right;
    margin: 0;
    padding: 1rem;
    width: 100%;
  }

  #close .navbar__links {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .navbar__toggle {
    display: none;
  }
}
