.navbar {
  height: 2.5rem;
  width: 100%;
  background: rgb(125, 125, 125);
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar a {
  color: white;
  margin: 0.5rem;
  font-size: 1rem;
}

.navbar a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar .links {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
