.navbar {
  height: 3rem;
  width: 100%;
  background: white;
  box-shadow: 0 4px 4px -4px gray;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar a {
  color: black;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.navbar a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-toggle button {
  padding: 0.85rem;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

.navbar-toggle svg {
  font-size: 2rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

/* For smaller screens */
@media only screen and (max-width: 37.49rem) {
  .navbar {
    height: 4rem;
  }

  #open .navbar-links {
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 0 4px 4px -4px gray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #open .navbar-link {
    width: 100%;
    padding: 1rem 0 1rem 0;
    border-top: solid 0.2rem whitesmoke;
    text-align: right;
  }

  #close .navbar-links {
    display: none;
  }
}

/* For bigger screens */
@media only screen and (min-width: 37.5rem) {
  .navbar-toggle {
    display: none;
  }
}
