#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__description {
  color: #fffaff;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .skills__description {
    font-size: 1.5rem;
  }
}
