.App {
  background-color: #3e92cc;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
}

section:nth-child(odd) {
  background-color: #0a2463;
}
