.App {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #fff;
}

body {
  padding: 0;
  margin: 0;
}
