.App {
  background-color: #0d1b2a;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  background-color: #0d1b2a;
}

section:nth-child(odd) {
  background-color: #1b263b;
}
